.body{
    /* background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover; */
    
}
.btn-primary{
    background-color:none;
}
.container.image {
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-change{
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}
.navbar-custom {
    color: #FFFFFF;
    background-color:aliceblue;
}
.jumbotron{
    padding-right: auto;
    padding-left: auto;
    border-radius: 30px;
    margin: 30px;
}
.text-center.p-3{
    background-color:rgba(0, 0, 0, 0.2);
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    color: white;
    text-align: center;
    
}

.paragraph{
    margin-left:20px;
}