<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-Exam</title>
  </head>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="index.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap"
    rel="stylesheet"
  />
  <style>
    .heading
    {
      margin-top: 15%;
      margin-left: 15%;
    }
  </style>
  <body>
    <header class="header">
      <!-- Left box for logo -->
      <div class="left">
        <img src="logo4.png" alt="" />
      </div>
      <!-- mid box for nav bar -->
      <div class="mid">
        <nav class="navbar">
          <button><a href="">e-Exam</a></button>
          <button><a href="">Openforum</a></button>
          <button><a href="">e-Repository</a></button>
          <button><a href="/wall">My Wall</a></button>
        </nav>
      </div>
      <!-- right box for search bar -->
      <div class="right navbar">
        <input type="text" placeholder="search"/>
        <button>search</button>
      </div>
    </header>
    <h1 class="heading">Welcome <%=Name%> . This is an online quiz . <br> This contains DBMS , DSA , APTITUDE , REASONING . <br> There are certain rules are there you have to follow them accordingly . <br> After the test the result will be shown for the corresponding subject.</h1>>
    <p></p>
     
      
    </div>
    <footer>
        <div>
            <a href="" class="footer">FAQ</a>
            <a href="contact.html" class="footer">Contact Us</a>
            <a href="" class="footer">Rules</a>
            <a href="" class="footer">Consequenses</a>
        </div>
    </footer>
   
  </body>
</html>
